/* universal selector to reset certain style elements on page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* selector elements */
body {
    background-color: #d9dcd6;
}


header {
    position: fixed;
    padding: 10px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    text-align: center;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}


header nav ul li {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}


a {
    color: #ffffff;
    text-decoration: none;
}


/* class selectors */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.section-content{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.section-content h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-content {
    margin-bottom: 32px;
    text-align: center;
    color: #ffffff;
}





.benefit-content img  {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


